@model AplikacjaStrefaCzytacza.Models.Cytat

@{
    ViewBag.Title = "Details";
}

<h2></h2>

<div>
    <h4>Szczegóły</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategoria.NazwaKategorii)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategoria.NazwaKategorii)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TekstCytatu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TekstCytatu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NazwaKsiazki)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaKsiazki)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutorCytatu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutorCytatu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Wróć do listy cytatów", "Index")
</p>
